<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Emetteur</th>
            <th>Demande</th>
            <th>Date demande</th>
            <th>Décision</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dem of demandes | async">
            <td>{{dem.first_name}} {{dem.last_name}}</td>
            <td><a href=""></a></td>
            <td>{{dem.email_id}}</td>
            <td>
              <button (click)="updateUser(user.id)" class="btn btn-warning" 
                     style="margin-left: 10px">Update</button>
              <button (click)="deleteUser(user.id)" class="btn btn-danger" 
                     style="margin-left: 10px">Delete</button>
                <button (click)="userDetails(user.id)" class="btn btn-info" 
                     style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
